@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4CAF50, #81C784);
    /* verde degradê */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.logo-img {
    max-width: 200px;
    height: auto;
}

.login-box h2 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #45A049;
}

.cadastro-link {
    text-align: center;
    margin-top: 1rem;
    color: #666;
}

.cadastro-link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: 500;
}

.cadastro-link a:hover {
    text-decoration: underline;
}